@import "~normalize.css/normalize.css";
@import "~milligram/dist/milligram.css";

.ReactTabs__Tab{
    margin-bottom: 0!important;
    border-radius: 0!important;
}
.ReactTabs__TabPanel{
    margin-bottom: 15px;
}
